/*
    background: -webkit-linear-gradient(left, #f2d41c, #e1c413);
*/

body{
    background: #999;
}
.pencil{
    height: 360px;
    width: 60px;
    margin: 120px auto;
}
.right,
.left,
.top,
.bottom,
.center{
    position: relative;
}
.right,.left,.center{
    height: 300px;
    background: -webkit-linear-gradient(left, #f2d41c, #e1c413);
    float: left;
}
.right,
.left{
    width: 15px;
}
.center{
    width: 30px;
}
 .bottom{
    clear: both;
	background: linear-gradient(to bottom, #000, #ffbf00, #000, #ffbf00, #000);
    height: 30px;
    border-radius: 0 0 10px 10px;
} 
.top{
    border-bottom: 60px solid rgb(243, 237, 237);
    border-right:30px solid transparent;
    border-left:30px solid transparent;
}
.top::after{
    content: '';
    position: absolute;
    border-bottom: 30px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}
.right::after{
    content: '';
    position: absolute;
    border-bottom: 7px solid #f2d41c ;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -7px;
    left: 0;
}
.left::after{
    content: '';
    position: absolute;
    border-bottom: 7px solid #f2d41c ;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -7px;
    left: 0;
}
.center::after{
    content: '';
    position: absolute;
    border-bottom: 12px solid #f2d41c ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -12px;
    left: 0px;
}